<!doctype html>
<!-- mode: html -->
<html lang="en">
  <head>
    <title>Redirecting...</title>
    <meta http-equiv="Refresh" content="0; url='{{url}}'">
  </head>
  <body>
    <p>Redirecting to <a href="{{url}}">{{url}}</a></p>
  </body>
</html>
